{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Equipment Compatibility
    </title>
    <link rel="stylesheet" href="{% static 'tachyons.min.css' %}">
  </head>
  <body class="w-100 sans-serif">
    <main class="bg-white black-70">
      <article class="pa3 ph5-ns">
        <h3 class="f2 ttu tracked mt0">Equipment compatibility survey</h3>
        <p>You chose the {{ panel.name }} panel</p>
        <form class="pa1" action="" method="get">
          <input type="hidden" name="panel" value="{{ panel.code }}">
          <p class="measure f5 f4-ns  lh-copy">
            How many annunciators are needed?
          </p>
          <fieldset class="bn">
            <div class="flex items-center mb2">
              <input type="text" name="annunciator_count" id="annunciator_count" placeholder="Up to 8">
            </div>
          </fieldset>
          <input class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-blue" type="submit">
        </form>
      </article>
</body>
</html>
