{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fire System Survey
    </title>
    <link rel="stylesheet" href="{% static 'tachyons.min.css' %}">
  </head>
  <body class="w-100 sans-serif">
    <main class="bg-white black-70">
      <article class="pa3 ph5-ns">
        <h3 class="f2 ttu tracked mt0">Fire system survey</h3>
        <form class="pa1" action="" method="get">
          <p class="measure f5 f4-ns  lh-copy">
            What system type does the customer need?
          </p>
          <fieldset class="bn">
            <div class="flex items-center mb2">
              <input class="mr2" type="radio" id="conventional" value="conventional" name="system">
              <label for="conventional" class="lh-copy">Conventional</label>
            </div>
            <div class="flex items-center mb2">
              <input class="mr2" type="radio" id="addressable" value="addressable" name="system">
              <label for="addressable" class="lh-copy">Addressable</label>
            </div>
            <div class="flex items-center mb2">
              <input class="mr2" type="radio" id="hybrid" value="hybrid" name="system">
              <label for="hybrid" class="lh-copy">Hybrid</label>
            </div>
          </fieldset>
          <p class="measure f5 f4-ns  lh-copy">
            How many zones does the site need?
          </p>
          <fieldset class="bn">
            <div class="flex items-center mb2">
              <input class="mr2" type="radio" id="10_or_fewer" value="10_or_fewer" name="zone_count">
              <label for="10_or_fewer" class="lh-copy">10 or fewer</label>
            </div>
            <div class="flex items-center mb2">
              <input class="mr2" type="radio" id="11_50" value="11_50" name="zone_count">
              <label for="11_50" class="lh-copy">11-50</label>
            </div>
            <div class="flex items-center mb2">
              <input class="mr2" type="radio" id="51_200" value="51_200" name="zone_count">
              <label for="51_200" class="lh-copy">51-200</label>
            </div>
            <div class="flex items-center mb2">
              <input class="mr2" type="radio" id="201_600" value="201_600" name="zone_count">
              <label for="201_600" class="lh-copy">201-600</label>
            </div>
          </fieldset>
          <input class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-blue" type="submit">
        </form>
        {% if system %}
          <h3 class="f2">Found {{ results|length }} Result{{ results|length|pluralize:",s" }}:</h3>
          <section class="mw7">
            {% for result in results %}
              <div class="ba br3 pa3 mb3 shadow-5 flex flex-column flex-row-ns">
                <div class="pr3-ns mb4 mb0-ns w-100 w-20-ns">
                  <img src="{% static result.image %}" alt="">
                </div>
                <div class="w-100 w-60-ns pl3-ns">
                  <p class="b">{{ forloop.counter }}. <a href="{{ result.url }}" target="_blank">{{ result.name }}</a></p>
                  <p><a href="{% url 'equipment_compatibility_survey' %}?panel={{ result.code }}" class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-black">Click for equipment compatibility</a></p>
                  <p>{{ result.description }}</p>
                </div>
              </div>
            {% endfor %}
          </section>
        {% endif %}
      </article>
</body>
</html>
