<form action="" method="get">
    <input type="text" name = "query" placeholder="Search">
    <input type="submit">

</form>

<ul>

    {% for object in object_list %}
        <li>{{ object.manufacturer }} - {{ object.name }}</li>
    {% empty %}
        <li>No results</li>
    {% endfor %}
</ul>
